{
    "tabWidth": 2,
    "singleQuote": true,
    "semi": false,
    "printWidth": 80,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.wxml",
            "options": {
                "parser": "html"
            }
        },
        {
            "files": "*.wxss",
            "options": {
                "parser": "css"
            }
        },
        {
            "files": "*.wxs",
            "options": {
                "parser": "babel"
            }
        }
    ]
}