/** 基础样式工具类 */

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-none {
    flex: 0 0 auto;
}

.flex-auto {
    flex: 1 1 auto;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}